<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- configSections MUTLAKA en üstte olmalı -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- Connection Strings -->
  <connectionStrings>
    <!-- SQL Server bağlantı dizesi - Kendi sunucu ayarlarınıza göre düzenleyin -->
    <!-- Windows Authentication (Integrated Security) kullanılıyor -->
    <add name="KafeOtomasyonuDB" 
         connectionString="Server=localhost\SQLEXPRESS;Database=KafeOtomasyonuDB;Integrated Security=True;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- App Settings -->
  <appSettings>
    <!-- Uygulama ayarları -->
    <add key="AppName" value="Kafe Otomasyonu" />
    <add key="Version" value="1.0.0" />
    <add key="DefaultSaatlikUcret" value="15.00" />
  </appSettings>

  <!-- DevExpress Ayarları -->
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
</configuration>
